<div class="form-row">
    <div class="form-item">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter your First Name" value="<%= profile.firstName %>" required>
    </div>
    <div class="form-item">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter your Last Name" value="<%= profile.lastName %>" required>
    </div>
    <div class="form-item">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" placeholder="Enter your Age" value="<%= profile.age %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="Enter your Description" value="<%= profile.description %>">
    </div>
</div>