<div class="form-row">
    <div class="form-item">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" placeholder="Enter your First Name" value="<%= profile.firstName %>" required>
    </div>
    <div class="form-item">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" placeholder="Enter your Last Name" value="<%= profile.lastName %>" required>
    </div>
    <div class="form-item">
        <label for="age">Age</label>
        <input type="number" id="age" placeholder="Enter your Age" value="<%= profile.age %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="description">Description</label>
        <input type="text" id="description" placeholder="Enter your Description" value="<%= profile.description %>">
    </div>
</div>