<h1>Edit Profile</h1>
<form action="/profile?_method=PUT"  method="post">
    <%- include('_form_fields') %>
    <div>
        <a class="btn btn-danger" href="/profile">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
