<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/profile">About Me</a></li>
            <li><a href="/projects/new">Add Project</a></li>
            <li><a href="/profile/new">Create Profile</a></li>
            <li><a href="/profile/edit">Edit Profile</a></li>
        </ul>
    </nav>
</header>
