<div class="projects-grid">
    <% projects.forEach(project => { %>
        <section>
            <a href="/projects/<%= project.id %>">
                <img class="project-cover" src="<%= project.coverImageLink %>" alt="">
            </a>
            <h2><a href="/projects/<%= project.id %>"><%= project.title %></a></h2>
        </section>
    <% }) %>
</div>
