<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/javascripts/addRemoveField.js"></script>
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Portfolio</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="global-warning">
        This website is under intensive development! Necessary information and projects are available!
    </div>
    <main>
        <%- include('../partials/errorMessage.ejs') %>
        <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
