@import "shared/fonts.css";
@import "shared/header.css";
@import "shared/footer.css";
@import "shared/projects.css";
@import "shared/profile.css";

:root {
    --bg-color: #ececef;
    --bg-color-light: #f3f3f4;
    --bg-color-dark: #c8c8ca;
    --text-color: #131316;
    --btn-primary-color: #cbcbc2;
    --accent-color: #9c9c8b;

    font-family: 'Roboto', serif;
    font-size: 100%;
    background-color: var(--bg-color);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

* {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 2.5rem;
    width: 100%;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

main {
    width: 80%;
    height: 100%;
}

.global-warning {
    text-align: center;
    padding: 10px;
    color: #c20000;
    font-size: 1.2rem;
    background-color: var(--accent-color);
    border-radius: 5px;
}

/* Temporary solution */

.home-page {
    display: flex;
    gap: 1em;
}

.home-page > *:first-child {
    flex-basis: 80%;
    align-self: flex-start;
}

.home-page > *:last-child {
    flex-basis: 20%;
    align-self: flex-start;
}

.home-projects-grid {
    background-color: var(--bg-color-light);
    display: grid;
    justify-content: left;
    grid-row-gap: 1rem;
    grid-template-rows: repeat(1, 1fr);
    padding: 1rem;
    border-radius: 5px;
}

.home-projects-grid a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.home-projects-grid h2 {
    transition: transform 0.3s ease;
}

.home-projects-grid h2:hover {
    transform: translateY(-2px);
}

.home-page-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.home-page-sidebar h1 {
    font-size: 1.6rem;
    background-color: var(--accent-color);
    padding: 1rem 2.5rem;
    border-radius: 25px 5px;
}
