.profile-grid {
    background-color: var(--bg-color-light);
    display: grid;
    justify-content: left;
    grid-row-gap: 1rem;
    grid-template-rows: repeat(1, 1fr);
    padding: 1rem;
    border-radius: 5px;
}
