<h1>New Project</h1>
<form action="/projects" method="post">
    <%- include('_form_fields', { project: project }) %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/projects">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
